@keyframes clouds-move {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(2000px);
  }
}
@keyframes planes-move {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@keyframes balloons-move {
  0% {
    transform: translateY(2000px);
  }
  100% {
    transform: translateY(-2000px);
  }
}
@keyframes bg {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes neon-lights {
  0% {
    color: #f17373;
  }
  20% {
    color: #e023238c;
  }
  35% {
    color: #e02323;
  }
  50% {
    color: #e0232324;
  }
  65% {
    color: white;
  }
}

@font-face {
  font-family: neon;
  src: url(../new-typography_monoton/Monoton-Regular.ttf);
}

.text {
  font-family: neon;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #f17373;
  font-size: 3.5em;
  margin: -5% 3%;
  text-shadow: 3px 3px 5px blue;
  animation: neon-lights 60s linear infinite;
}


.container {
  overflow: hidden;
  position: relative;
  background: url(../img/bg.jpg);
  z-index: -25;
  height: 100vh;
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: bg 10s linear infinite;
}
.cloud1 {
  position: absolute;
  height: 400px;
  width: 600px;
  animation: clouds-move 30s ease-in infinite;
}
.cloud2 {
  position: absolute;
  top: 150px;
  height: 400px;
  width: 600px;
  animation: clouds-move 36s linear infinite;
  z-index: 8;
}
.cloud3 {
  position: absolute;
  height: 400px;
  width: 600px;
  animation: clouds-move 28s linear infinite;
}
.cloud4 {
  position: absolute;
  top: 170px;
  height: 300px;
  width: 700px;
  animation: clouds-move 24s linear infinite;
  z-index: 7;
}
.cloud5 {
  position: absolute;
  top: 100;
  height: 400px;
  width: 600px;
  animation: clouds-move 42s linear infinite;
}
.cloud6 {
  position: absolute;
  top: 140px;
  height: 450px;
  width: 500px;
  z-index: 6;
  animation: clouds-move 26s linear infinite;
}
.plane {
  position: absolute;
  z-index: -4;
  top: 250px;
  height: 50px;
  width: 100px;
  animation: planes-move 120s linear infinite;
}
.balloon {
  position: absolute;
  height: 200px;
  width: auto;
  animation: balloons-move 40s ease-in infinite;
}

.clouds img {
  height: 100%;
  width: 100%;
}
.mountains {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 50px;
  left: 3%;
  display: flex;
  justify-content: center;
}
#island {
    width: 385px;
    z-index: 4;
}

#bored-boy {
  position: absolute;
  width: 150px;
  height: auto;
  bottom: 48%;
  left: 50%;
  z-index: 5;
}
